.paleta{
    color: rgb(231, 164, 69);
    color: rgb(125, 140, 42);
    color: rgb(74, 42, 24);
    color: rgb(240, 240, 242);
}

.dishes-form{
    width: 90%;
    overflow: hidden;
    /* border: 1px solid red; */
    /* height: 32px;
    height: 43px; */
    /* height: 190px; */
    padding: 25px 50px 10px 20px;
    transition: all .3s ease;
}

.form-input-text-container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items:center;
}
.form-input-text{
    border: 2px solid rgb(125, 140, 42);
    border-radius: 30px;
    background-color: transparent;
    padding: 0 15px;
    color: rgb(74, 42, 24);
    font-weight: 600;
    width: 135px;
    transition: all .3s;
    font-size: 1rem;
}

.form-label-text{
    color: rgb(125, 140, 42);
    font-weight: 600;
    line-height: .8;
    position: absolute;
    transition: all .3s;
    top: 8px;
    left: 25px;
    background-color: rgba(255, 255, 255, 0);
    pointer-events: none;
    z-index: 30;
    border-radius: 30px;
    text-align: center;
    font-size: 1rem;
}

.form-input-text:focus{
    outline: none;
    border: 2px solid rgb(231, 164, 69);
}

.form-input-text-container:focus-within .form-label-text{
    font-size: .7rem;
    left: 20px;
    top: -4px;
    background-color: rgb(255, 255, 255);
    padding: 0 10px 0 4px;
    color: rgb(231, 164, 69);
}

.form-dish-select{
    background-color: rgba(125, 140, 42, 0.288);
    border: 2px solid rgb(125, 140, 42);
    border-radius: 30px;
    color: rgb(74, 42, 24);
    font-weight: 600;
    font-size: .9rem;
}

.form-text-select{
    font-weight: 600;
    font-size: .65rem;
    position: absolute;
    border: 2px solid rgb(125, 140, 42);
    border-radius: 10px;
    top: -10px;
    right: -10px;
    padding: 0 3px;
    z-index: 20;
    background-color: rgb(214, 221, 171);
}

.form-dish-select:focus{
    outline: none;
}

.select-izq{
    border-radius: 30px 0 0 30px;
    padding-left: 15px;
    font-size: .9rem;
    font-weight: 600;
}
.select-der{
    border-radius: 0 30px 30px 0;
    background-color: rgba(125, 140, 42, 0.568);
    border: solid rgb(125, 140, 42);
    border-width: 2px 2px 2px 0;
    outline: none;
    padding-left: 5px;
    /* line-height: 1.4rem; */
    color: rgb(74, 42, 24);
    font-size: .9rem;
    font-weight: 700;
    height: 26px;
}

.texto-flotante-pildoras{
    font-weight: 700;
    line-height: .8;
    position: absolute;
    font-size: .7rem;
    background: linear-gradient(to bottom, rgb(255, 255, 255) 50%, #dadec2 50%);
    z-index: 30;
    top: -3px;
    left: 16px;
    padding: 0 5px;
    margin: 0 -5px;
    color: rgb(125, 140, 42);
}



.boton-mas-filtros{
    border: 2px solid rgb(231, 164, 69);
    color: rgb(231, 164, 69);
    border-radius: 5px;
    position: absolute;
    top: 28px;
    right: 12px;
    width: 22px;
    height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media(width >= 689px){
    .boton-mas-filtros{
        display: none;
    }
    .dishes-form{
        padding: 26px 20px 10px;
    }
}

@media (width < 600px){
    .form-label-text{ font-size: .8rem; top: 6px;}
    .form-input-text{ font-size: .8rem;}
}

.cabecera-nombre-descripcion{
    display: flex;
    gap: 10px;
    margin: 0;
}

@media (width < 490px){
    .cabecera-nombre-descripcion{
        margin-bottom: 4px;
    }
}