.verde {
  background-color: rgb(125,140,42) ;
  color:white;

}

.amarillo {
  background-color: rgb(231,164,69) ;
  color:white;
  }
  .categ-title{
    width: 50%;
  }
  .categoria-container {
    margin: 0;

  }
  .categoria-container h1{
    text-align: center;
    padding:5px;
    margin:0;
    font-weight: 700;
    width: 60%;
    margin: 15px;
    margin-left: 10%;
    border-radius: 20px;
  }

  hr {

    margin: 0;
  }



@media (min-width: 1024px) {
  .categoria-container {
    margin:25px;
    border-radius: 20px;

  }
  .categoria-container h1{
    display: inline;
    width: 30%;
    text-align: left;
    padding: 10px 0;
    margin-left: 10vw;
    background-color: rgba(0,0,0,0);
  }

  .precio {
    text-align: right;
  }
}