/* body{
  background-color: rgb(240,240,242);

} */


#redirect {
  margin: 2vw;
  margin-top: 3vw;
  text-align: left;
  
}


  .plato {
  border: 1px outset rgb(74,42,24);
  border-radius: 15px;
  padding: 2vh;
  background-color: white;


}
.plato p {
  margin:0;
}
.plato h5 {
  text-align: center;
}
.data-dish-container {
  display: none;
}
.plato {
  margin-bottom: 1vh;
}

.plato h5 {
  background-color: rgb(231,164,69);
  color: white;
  border-radius: 15px;

}
.precio{
  background-color: rgb(74,42,24);
  color: white;
  border-radius: 15px;
  padding: 1vh 2vh;
}


.precio p{
  margin:0;
}

.filter{
  padding-top: 5vh;
}
#platos-menu{
background-color: rgb(231,164,69,0.1);
padding-top:2vw;


}

.super {
  max-height: 70vh; 
  overflow-y: hidden; 
  width: 100%;
}

.dishes-container-menu p{
  margin : 0;
}
.menu-details-info{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media(width > 1024px){
  .menu-details-info{
   
    align-items: flex-start;
    justify-content: flex-start;
   /*  padding: 2vw; <-- esto si queremos que se alinee con el primer plato en vez de con la caja*/ 

  }
  .super{
    
    display: flex;

    align-items:flex-start;
    margin:0;
    align-content: flex-start;
  }
  .dishes-container-menu{
    align-items: flex-start;


  }
 
  .platos{
    display: flex;
    overflow-x: auto; 

  }
  .platos:hover {
    overflow-x: auto; 

  }
  .plato h1 {
    margin-top:1vh;
  }
  .plato {
    height : 40vh;
    margin: 1vh;
    margin-left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 30vw;
  }
  .plato img {
    width:12vw;
    height: 12vw;
    object-fit: cover;
    border-radius: 50%;;
  }
  .data-dish-container{
    display: flex;
    justify-content: space-around;
    align-items: center;

  }
  .dishes-container-menu {
    max-height: 70vh;
  }
 
  #platos-menu{
      height: auto;
      display: flex;
      flex-direction: row;
      padding: 2vw;
      margin:0;
      width: 100%;
margin-bottom: 3vh;

    }

    #redirect {
      margin: 0;

    }
    .super {

      display: flex;
      padding: 2vw 0;
      max-width: 1200px;
      align-items: center;
      align-content: center;
      justify-content: center;
      margin: auto;
      margin-bottom: 2vh;
    }
    
}